*{

    margin: 0;
    padding: 0;
}

nav{

    padding: 20px 40px;

    display: flex;
    justify-content: space-between;

}

.navbarList li{

    list-style: none;
    display: inline;
    

}

.navbarList li a{

    margin: 0 1rem;
    font-size: 20px;
    text-decoration: none;
    color:black;
    
    text-transform: uppercase;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.getNowBtn{
    font-weight:bold;
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;

}

main{

    background-color: rgb(249, 249, 249);
    
}

#title{

    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding:10vh 0;
}

#title h1{
    font-size: 4rem;
    margin-top: 1rem;
}

#title p{

    font-size: 1.5rem;
}

/* */

/*  CARD CSS*/

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    }

.myCard {

  
    min-height: 200px;
    width: 100%;
}

.myCard img{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 2vh;

}

.myCard:hover{
    cursor: pointer;
    transform: scale(1.05) ;

}

.parent .myCard span{

    color: orangered;
    line-height: 4px;
    font-weight: 600px;
    
}

.parent .myCard p{
    color: black;
    font-size: 24px;
    margin-top: 2vh;
    font-weight: bolder;
    
    
}

.parent a{
    text-decoration: none;

   
}

/* footer start */

.myContainer {
    display: grid; 
    grid-template-columns: 2fr 1fr 1fr 1fr; 
    gap: 0px 20px; 
    grid-auto-flow: row;
    padding: 4em 6em;
}

.info{

    margin: auto;
}
.info blockquote{
    line-height: 1.5em;
    color: gray;
    font-size: 16px;
    width: 80%;
    margin-bottom: 1.5em;

}

.info a{

    color: black;
    text-decoration: none;
    font-size: 1.3em;
    margin: 0 10px;
}

.footerList ul{

    list-style-type: none;
}


.footerList ul .header{

    color: gray;
    margin-bottom: 2vh;
}

.footerList ul li a{

    text-decoration: none;
    color: black;
    margin-bottom: 2vh;
}

.footerList ul li{

    margin-bottom: 1.5vh;
    font-weight: bold;
}

/* modal start*/
.myModal{
    display: none;

    width: 60%;
    height: 60vh;
    position:fixed;
    top: 0;
    background-color: white;
    top: 20vh;
    left: 20vw;
    border-radius: 10px;

}

.myModal h1{
    text-align: center;
    margin: 0.5em 0;
}

.myModal img {

    width: 100%;
}

.myModal span{

    display: inline-block;
    margin: 0.5em 10%;
    color: orangered;
}

.myModal p{

    text-align: justify;
    width: 80%;
    margin: 0.5em auto;
}

.myModal button{
    display: block;
    padding: 10px 20px;
    width: 30%;
    margin: 0.5em auto;
    border-color: coral;

}

.myModal button:hover{
    background-color: blue;
    border: 0px;
    cursor: pointer;
    color: wheat;

}

.myModal .close{

    position: absolute;
    top: 5px;
    right: -20px;
    font-size: 22px;
}

.myModal .close:hover{

    color: blue;
    cursor: pointer;
}

.fadeBackground{

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: gray;
    opacity: 60%;
}
/*modal end */

@media only screen and (max-width: 960px) {
    .parent {
       
        grid-template-columns: 1fr 1fr;
       
        
        padding: 50px 70px;
    }

    .myContainer {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        row-gap: 40px;
    }

  }

  @media only screen and (max-width: 720px) {
    .parent {
       
        grid-template-columns: repeat(2, 1fr);
       
        
        padding: 50px 70px;
    }

    .myContainer {
        display: grid; 
        grid-template-columns: 1fr; 
        row-gap: 40px;
    }

  }
/* footer end */